.header {
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
}

.logo {
  width: 100px;
}

.logo img {
  height: 100px;
}

.nav-items > ul {
  font-size: 24px;
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  margin: 5px;
  padding: 5px;
  width: 200px;
  /* height: 320px; */
}

.res-card:hover {
  cursor: pointer;
  border: 1px solid black;
}

.search {
  padding: 10px;
}

.res-logo {
  width: 100%;
}

.filter-btn {
  margin: 10px;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  width: 200px;
  height: 350px;
  margin: 5px;
  padding: 5px;
  background: #f0f0f0;
}

.login {
  margin: 20px;
  padding: 5px;
  font-size: 15px;
}

.filter {
  display: flex;
}

.search-box{
  margin: 2px;
}
